.links {
  display: flex;
  justify-content: flex-end;
  /*align-content: center;*/
}

.nav-link {
  text-transform: uppercase;
  color: #323232;
  padding: 15px 20px 0;
}

.strike {
    position: relative;
    display: inline-block;
}
.strike::before {
    content: '';
    border-bottom: 3px solid #323232;
    width: 100%;
    position: absolute;
    right: 0;
    top: 60%;
}

.projects {
  display: flex;
  flex-flow: row wrap;
}

.principle-box {
  width: 560px;
  margin-bottom: 60px;
}

.project-box {
  width: 560px;
  margin-bottom: 60px;
}

.white {
  color: #fff;
  /*text-transform: uppercase;*/
}

.prince-desc {
  color: white;
  line-height: 1.3em;
  font-size: 1.5em;
}

#lp-CaseStudy {
  background-color: #0D5DDD;
}

.featured-work {
  background-color: #010A19;
  padding: 150px 0 150px;
}

#featured-wrap {
  height: auto;
}
