/* ********************* HEADER ********************* */

.links {
  display: flex;
  justify-content: flex-end; }
  .nav-link {
    text-transform: uppercase;
    color: #010A19;
    padding: 15px 20px 0;
    font-family: 'Open Sans', sans-serif;
    display: block; }

.strike {
  position: relative;
  display: inline-block; }
  .strike::before {
    content: '';
    border-bottom: 3px solid #010A19;
    width: 100%;
    position: absolute;
    right: 0;
    top: 60%; }

.m-head {
  max-width: 760px;
}

.m-nav {
  text-transform: uppercase;
  color: #010A19;
  margin: 9px  7px 5px;
  padding: 9px 16px;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid #010A19;
  border-radius: 4px;
  display: none;
}
.m-links {
  padding: 0 -20px;
  display: none;
}
.show {
  display: block;
}
.m-link-list {
  list-style: none;
  background-color: #010A19;
  padding: 16px 0;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 19px;
} .m-link-list a {
    padding: 12px 0;
    color: #fff;
  }
  .m-link-list a li {
    font-family: 'Open Sans', sans-serif;
    padding: 12px 0;
    -webkit-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  } .m-link-list a li:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }

@media screen and (max-width: 470px) {
  .m-nav {
    display: block;
  }
  /*.m-links {
    display: block;
  }*/
  .nav-link {
    display: none;
  }
}

/* ********************* PROFILE (LANDING) PAGE ********************* */

.goto-portfolio {
  display: inline-block;
  -webkit-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
  .goto-portfolio:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }
  .goto-portfolio:hover .p-link {
    transition: all .2s ease-in-out;
  }
  .goto-portfolio:hover .p-link {
    padding-right: 30px;
  }
  .goto-portfolio .black {
    color: #010A19;
  }

  .p-link {
    text-transform: uppercase;
    color: #fff;
    padding-right: 17px;
    font-family: 'Open Sans', sans-serif; }

  #right-arrow {
    padding-top: 6px; }

    @media screen and (max-width: 770px) {
      .principles {
        padding-top: 25%;
        padding-bottom: 25%;
      }
    }
.principle-box {
  width: 560px;
  margin-bottom: 60px; }
  @media screen and (max-width: 570px) {
    .principle-box {
      width: auto;
    }
  }
  .prince-desc {
    color: white;
    line-height: 1.3em;
    font-size: 1.5em;
  }


/*
.projects {
  display: flex;
  flex-flow: row wrap;
  margin-top: 60px
}
.featured-container {
  width: 100%;
}

  a .project-box {
    width: 360px;
    background-color: #fff;
    margin: 0 60px 70px 0;
    box-shadow: 7px 13px 50px 0 rgba(255,255,255,0.30);
    border-radius: 2px;  }
    @media (max-width: 1042px) {
      a .project-box {
        width: 100%;
        margin: 0 0 70px 0;
        justify-content: center;
      }
      .featured-container a {
        width: 100%;
      }

    }
    a .project-box .last {
      margin-right: 0;
    }
  a .proj-title-text {
    margin: 0;
    color: #fff;
    font-size: 3em;
    margin-left: 23px;
    padding-top: 170px; }
  a .proj-desc {
    padding: 16px 23px 16px;
    color: #010A19;
    line-height: 1.4em; }
  a .proj-desc > p {
    margin-top: 0;
    font-size: 1.3em; }
  a .proj-img {
    height: 240px;
    background-size: 100%; }
    .olumo-cover {
      background-image: url('../imgs/olumo-cover.png'); }
    .bm-cover {
      background-image: url('../imgs/bm-cover.png'); }*/

.white {
  color: #fff;
}

#lp-CaseStudy {
  background-color: #0D5DDD;
}

.featured-work {
  background-color: #010A19;
  padding: 100px 0 100px; }
  #featured-wrap {
    height: auto; }



/* ********************* FOOTER ********************* */


.social-icon {
  display: flex;
  flex-flow: row nowrap;
  padding-left: 0;  }

.social-icon > li {
  list-style: none;  }

.social-link {
  padding-right: 33px;
  color: #010A19;  }
  .linkedin {
    padding-right: 0;
  }


  .fa-instagram {
    /*display: inline-block;*/
    -webkit-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
    .fa-instagram:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -moz-transform: scale(1.3);
      transform: scale(1.3);
    }
  .fa-facebook {
    /*display: inline-block;*/
    -webkit-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
    .fa-facebook:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -moz-transform: scale(1.3);
      transform: scale(1.3);
    }
  .fa-behance {
    /*display: inline-block;*/
    -webkit-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
    .fa-behance:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -moz-transform: scale(1.3);
      transform: scale(1.3);
    }
  .fa-linkedin {
    /*display: inline-block;*/
    -webkit-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
    .fa-linkedin:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -moz-transform: scale(1.3);
      transform: scale(1.3);
    }




.footer {
  padding: 12px 0 15px 0;
  color: #010A19;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;}

.footer h5 {
  font-weight: 300;
  text-align: center;
}

.footer-left {
  padding-bottom: 10px;}

.copy-right {
  font-weight: 300;
  font-size: .7em;
  text-transform: uppercase;
  text-align: center;
}



/* ********************* CONTACT PAGE ********************* */


.center {
  text-align: center;
}

.success {
  display: flex;
  margin: 40px auto 32px auto;
  justify-content: center;
}

#contact-head {
  align-items: flex-start;
  margin-top: 50px;
}

#touch {
  max-width: none;
}

.contact-form {
    max-width: 560px;
    align-items: center;
    margin: 60px auto 0;
    font-family: 'Open Sans', sans-serif;
}

.contact-form input[type="text"],
.contact-form input[type="date"],
.contact-form input[type="datetime"],
.contact-form input[type="email"],
.contact-form input[type="number"],
.contact-form input[type="search"],
.contact-form input[type="time"],
.contact-form input[type="url"],
.contact-form textarea,
.contact-form select
{
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    /*background: #fff;*/
    margin-bottom: 4%;
    border: 1px solid #010A19;
    padding: 3%;
    color: #555;
    /*font: 95% Arial, Helvetica, sans-serif;*/
}
.contact-form input[type="text"]:focus,
.contact-form input[type="date"]:focus,
.contact-form input[type="datetime"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="number"]:focus,
.contact-form input[type="search"]:focus,
.contact-form input[type="time"]:focus,
.contact-form input[type="url"]:focus,
.contact-form textarea:focus,
.contact-form select:focus
{
    box-shadow: 0 0 5px #0D5DDD;
    padding: 3%;
    border: 1px solid #0D5DDD;
}

.contact-form input[type="submit"],
.contact-form input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #0D5DDD;
    border-bottom: 2px solid #0B4FBC;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    text-transform: uppercase;
}
.contact-form input[type="submit"]:hover,
.contact-form input[type="button"]:hover{
    background: #0B4FBC;
}


/* ********************* PORTFOLIO PAGE ********************* */


.Main {
  height: auto;
}

.p-head {
  max-width: 730px;
  margin: 20px auto;
}

.port {
  height: auto;
  padding-bottom: 80px;
}

@media screen and (min-width: 1201px) {
  .bricklayer-column-sizer {
    /* divide by 2. */
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .bricklayer-column-sizer {
    /* divide by 1. */
    width: 100%;
  }
}

.portfolio-pieces img {
  max-width: 100%;
  display: block;
}

.portfolio-pieces article {
  border: 3px solid #FFF;
  position: relative;
  box-shadow: 4px 7px 12px 0 rgba(0, 0, 0, .1);
}

.portfolio-pieces a {
  transition: .2s;
  display: inline;
}

.portfolio-pieces .card {
  position: absolute;
  border: 2px solid #010A19;
  background: #010A19;
  color: #FFF;
  padding: 25px 84px 25px 25px;
  transition: .2s;
  bottom: 0;
  left: 0;
  right: 0;
  /*opacity: 0;*/
}

article:hover .card {
  opacity: 1;
}

.portfolio-pieces .card h3 {
  font-size: 24px;
  /*letter-spacing: -.6px;*/
  font-weight: 400;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.portfolio-pieces .card small {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  /*letter-spacing: 1px;*/
  opacity: .7;
  text-transform: uppercase;
  margin-bottom: 12px;
  display: block;
}

.bricklayer-column article {
    margin-bottom: 32px;
}

.bricklayer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}  @media screen and (min-width: 670px) {
  .bricklayer {
    justify-content: flex-start;
  }
}

a {
  text-decoration: none;
}


/* ***************** DETAIL PAGE - PORTFOLIO ****************** */

.piece-title {
  height: auto;
}

.piece-wrap {
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  word-break: break-word;
  word-wrap: break-word;
  color: #010A19;
}
  .piece-wrap h2, h3, h4, p, li {
    font-family: 'Source Serif Pro', sans-serif;
    /*font-family: 'Martel', sans-serif;*/
    /*font-family: 'Neuton', sans-serif;*/
    letter-spacing: -.01em;
  }
  .piece-wrap h2, h3, h4 {
    font-weight: 500;
    margin-bottom: 0;
  }
  .piece-wrap h2 {
    font-size: 42px;
    margin-top: 54px;
    margin-bottom: -10px;
  }
  .piece-wrap h3 {
    font-size: 27px;
  }
  .piece-wrap h4 {
    font-size: 21px;
    font-weight: 600;
  }
  .piece-wrap p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 1.58;
  }

  .piece-wrap .mult-screens {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .piece-wrap .behance-screens {
    max-width: 360px;
    margin: 0 auto;
  }
  .piece-wrap .img-combo {
    margin: 40px 0 60px;
  }
  @media screen and (max-width: 550px) {
    .piece-wrap .img-combo {
      margin: 0 0 15px;
    }
  }
  .piece-wrap .divide {
    display: inline-block;
    width: 49%;
    min-width: 260px;
  }
  .piece-wrap .divide-3 {
    display: inline-block;
    width: 33%;
    min-width: 190px;
  }
  .piece-wrap .sm-pad {
    padding-right: 1%;
  }

  .piece-wrap img {
    display: block;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }
  .piece-wrap .img-label {
    position: relative;
    left: 0;
    width: 90%;
    top: 0;
    margin: 10px auto auto auto;
    color: rgba(1,10,25,.5);
    outline: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    /*z-index: 300;*/
  }
  .piece-wrap ol {
    line-height: 1.8em;
    font-size: 19px;
    margin: 7px 7px 15px;
  }



.space {
  height: 60px;
}
.space-sm {
  height: 40px;
}

/* ***************** FEATURED WORK - PROJECTS ****************** */

.projects img {
  max-width: 100%;
  display: block;
}

.projects article {
  border: 3px solid #FFF;
  position: relative;
  box-shadow: 4px 7px 12px 0 rgba(0, 0, 0, .1);
  margin-bottom: 32px;
  max-width: 1024px;
}

.projects a {
  transition: .2s;
  display: inline;
}

.projects .card {
  position: absolute;
  border: 2px solid #010A19;
  background: #010A19;
  color: #FFF;
  padding: 25px 84px 25px 25px;
  transition: .2s;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  /*opacity: 0;*/
}

article:hover .card {
  opacity: 1;
}

.projects .card h3 {
  font-size: 24px;
  /*letter-spacing: -.6px;*/
  font-weight: 400;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.projects .card small {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  /*letter-spacing: 1px;*/
  opacity: .7;
  text-transform: uppercase;
  margin-bottom: 12px;
  display: block;
}

@media screen and (min-width: 1201px) {
  .projects .bricklayer-column-sizer {
    /* divide by 2. */
    width: 33.3%;
  }
}

@media screen and (min-width: 780px) {
  .projects .bricklayer-column-sizer {
    /* divide by 1. */
    width: 50%;
  }
}
